@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&display=swap");
/* font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif; */
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  background-color: #00002a;
}
.containerfluid {
  width: 100vw;
  height: 100vh;
}
.container {
  width: 90vw;
  margin: auto;
}
.tac {
  text-align: center;
}
.containerfluid .header {
  background-color: #00001c;
  color: whitesmoke;
}
.header h1 {
  color: #ff4d4d;
  font-size: 30px;
  text-transform: uppercase;
  padding: 10px 0px;
  font-family: "Roboto", sans-serif;
}
.box {
  margin: auto;
  width: max-content;
  height: max-content;
  padding: 15px 20px 20px 15px;
  background-color: whitesmoke;
  border-radius: 15px;
  margin-top: 20px;
}
.box .boxhead h2 {
  font-family: "Poppins", sans-serif;
  padding: 10px 5px;
  font-size: 25px;
}
.box .inputcontainer {
  margin-top: 10px;
}
.box .inputcontainer .inputbox {
  position: relative;
  width: 80%;
  margin: auto;
}
.box .inputcontainer .inputbox input {
  height: 40px;
  width: 100%;
  border: 1px solid #bebebe;
  border-radius: 10px;
  padding-left: 7px;
  font-size: 18px;
}
.box .inputcontainer .inputbox button {
  position: absolute;
  top: 0;
  right: 4%;
  top: 50%;
  transform: translatey(-50%);
  padding: 5px 5px 4px 5px;
  border: transparent;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
}
.box .textmsg {
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  color: #ff3333;
  margin-top: 8px;
}
/* Radio button */
.radiobuttonlist {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 10px;
  padding: 5px 0px;
}
.radiobuttonlist .radiobtn {
  height: 40px;
  width: 40px;
}
.radiobuttonlist .radiobtn .radioinputgroup {
  position: relative;
  height: 100%;
  width: 100%;
}
.radiobuttonlist .radiobtn .radioinputgroup input {
  height: 100%;
  width: 100%;
  cursor: pointer;
  z-index: 2;
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
}
.radiobuttonlist .radiobtn .radioinputgroup label {
  height: 100%;
  width: 100%;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid black;
}
.radioinputgroup input[type="radio"]:checked + label {
  /* background-color: aqua; */
  background-color: #ff6666;
}
/* Card */
.card {
  margin: auto;
  width: 450px;
  border-radius: 15px;
  background-color: white;
  height: max-content;
  margin-top: 10px;
}
.card .feedback p {
  padding: 25px 2px 25px 45px;
}

.inputcontainer .inputbox button:enabled {
  color: white;
  background-color: #333333;
}

.card .feedback {
  position: relative;
}

.card .feedback .value {
  position: absolute;
  top: -6%;
  left: -2%;
  height: 30px;
  width: 30px;
  background-color: #ff8080;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.card .feedback .icon {
  position: absolute;
  top: 1%;
  right: 1%;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.nofeedback {
  color: white;
  margin-top: 10px;
}

.card .feedback .value h6 {
  font-size: 1rem;
  font-weight: 600;
}

.card .feedback p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  letter-spacing: 0.7px;
}
